@media screen and (max-width: 1366px) {
 

@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background-image: url(../img/bg33.jpg);
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

#login {
  margin: 150px auto;
  width: 320px;
}

#login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: #00695C;
  border-top: 3px solid #00695C;
  border-bottom: 3px solid #00695C;
}



#login form input[type="text"] {
  background-color: #ffffff;
  border-radius: 3px 3px 3px 3px;
  color: #003056;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 320px;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #ffffff;
  border-radius: 3px 3px 3px 3px;
  color: #003056;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 320px;
  height: 50px;
}

#login form input[type="submit"] {
  background: #003056;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: #003056;
}
}
 .form-wrapper {
        width: 450px;
        padding: 10px;
        margin: 15px auto 50px auto;
        background: #444;
        background: none;
        -moz-border-radius: none;
        -webkit-border-radius: none;
        border-radius: none;
       
    }
    
    .form-wrapper input {
        width: 330px;
        height: 40px;
        
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #003056;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{		
        background: #00528e;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #003056;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #003056; transparent;
        top: 8px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #00528e;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #00528e;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }