body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#ffffff;
  background-image:url(../img/bg2.jpg);
}

.header-fixed {

	padding: 20px 40px;
	width: 100%;
	height: 80px;
	
	
	box-sizing:border-box;
	top:0;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 100%;
	text-align: center;
	margin: 0 auto;
}





.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}




.header-fixed .header-limiter a {

	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	color: #00528e;
}

h1 {
 text-align: center;
  font-size:20px; 

  line-height:1em;
  text-align: center;
  color: #ffffff;
}
a:{
	color: darkgreen;
}
.container td {
	
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	border-radius: 20px;
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display:table;

}

.container td, .container th {
	border-radius: 2px;
	text-align:center;
	padding: 5px;
	  padding-bottom: 0.5%;
	  padding-top: 0.5%;

}


.container tr:nth-child(odd) {
	  background-color: #00528e;
}


.container tr:nth-child(even) {
	  background-color: #00528e;
}
/*cor do nome da tabela (disciplina,1º trimestre, etc..)*/
.container th {
	  background-color: #00528e;
	margin: 1em;
}

.container td:first-child { color: #ffffff; }

.container tr:hover {
   background-color: #00528e;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF3E0;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #76FF03 -1px 1px, #76FF03 -2px 2px, #76FF03 -3px 3px, #76FF03 -4px 4px, #76FF03 -5px 5px, #76FF03 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
.footer-distributed{
	padding: 20px 40px;
	width: 100%;
	height: 80px;
	text-align: center;
	
	box-sizing:border-box;
	top:0;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}


.corpo {
 	
  margin: 1em;
	margin-left: -8em;
  width: 680px;
	
}
.icones {
	
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 120%;
	height: 280px;;
  border-radius: 5px;
 
  
}
#tamanhoaluno{
margin-left: -10px;
  font-size:20px;; 

  line-height:1em;
  
  color: #ffffff;
}
#tamanhoturma{
margin-left: 100px;
  font-size:20px; 

  line-height:1em;
  
  color: #ffffff;
}

#professor:hover{
	
width: 203;
	height: 238px;
}
 #aluno:hover{
	
width: 157px;
	height: 238px;
}
#turma:hover{
	
width: 344px;
	height: 238px;
}



.sair{
	font-family: Impact, cursive;
	font-size: 30px;
}
#botao1{
	cursor: pointer;
  background: #003056;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: #ffffff;
	font-family: 
  
  transition: background 0.3s ease-in-out;
}
#botao1:hover {
  background: #005496;
	color:wheat;
}